<style>
  body { background-color: #000; font: 18px Arial,Helvetica,"Nimbus Sans L",sans-serif; }
  .s18 { font-size: 24px; white-space: nowrap;}
  .s56 { font-size: 56px; }
  .s72 { font-size: 72px; }
  .white { color: #FFF; }
  .semafor { width: 500px; height: 680px; display: block; float: left;}
  .semafor a {text-decoration: none;}
  .light { height: 200px; width: 200px; display: block; border-radius: 100px; text-align: center; text-decoration: none; color: #FFF; vertical-align: center; font-size: 72px; float: left;}
  .light.red { background-color: #F00;}
  .light.yellow { background-color: #FF0;}
  .light.green { background-color: #0F0;}
  .light.green { background-color: #0F0;}
  .light.grey { background-color: #555;}
  
  .menu { width: 200px; height: 640px; display: block; float: left; margin-left: 400px; color: #AAA;}
  a.pink { color: #ffc0cb;}
  .top_div { text-align: right;}
  .top_div a{ color: #5c74a9;}
  .top_div a:hover{ color: #FFF; background-color: #5c74a9;}
  .fb-user-pics { width: 300px; height: 200px; margin-left: 210px;}
  #top-userpic { position: absolute; top: 0; right: 200px; width: 50px; height: 50px;}
  #user-cmoooon { position: absolute; color: #FFF; top: 10px; right: 100px; text-align: right; background-color: #5c74a9;}
</style>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '<%= @fb_config['app_id'] %>', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol +
      '//connect.facebook.net/ru_RU/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
  <% if @user.nil? %>
    FB.Event.subscribe('auth.login', function() { window.location.reload(false) })
  <% end %>
  FB.Event.subscribe('auth.logout', function() { window.location.reload(false) })
</script>

<div class='top_div'>
  <fb:login-button autologoutlink="true"></fb:login-button>
</div>

<% if !@user.nil? %>
  <div id='user-data' class='top_div'>
    <%= link_to @user.name, @user.fblink %>
  </div>
  <div id='top-userpic'><%= fb_user_link(@user.fbid, fb_user_pic(@user.fbid)) %></div>
<% else %>
  <div id='user-cmoooon' class='top_div'>
    Чтобы голосовать и вносить изменения в меню, нужно авторизоваться с помощью facebook →
  </div>
<% end %>

<% if @is_today %>
  <script style='text/javascript'>window.setTimeout(function() { window.location.reload(false) }, 20000)</script>
<% end %>

<% if !@is_weekend %>
  <%= render 'title/semafor' %>
<% else %>
  <span class='s72 white'>Кажется, сегодня выходной</span>
<% end %>



<div style='clear:both;'>
  <a href="<%= url_for :controller => 'title', :action => 'semafor', :date => previous_business_day(@date) %>" style='color:#FFF;'>
    <span class='s56'>← <% if @is_today %>вчера<% else %>предыдущий день<% end %></span>
  </a>
</div>
<% if @has_tomorrow_link %>
  <div style='float:right; text-align: right; margin-top: -60px;'>
    <a href="<%= url_for :controller => 'title', :action => 'semafor', :date => next_business_day(@date) %>" style='color:#FFF;'>
      <span class='s56'>следующий день →</span>
    </a>
  </div>
<% end %>